<div class="menu-list">

<mat-card class="card">
  <mat-card-content class="card-changes">
    Simple card
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Second card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Third card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Fourth card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Fifth card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Six card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Seven card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Eight card</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content  class="card-changes">Nine card</mat-card-content>
</mat-card>
</div>
