<div class="menu-list">
  <mat-card class="card" routerLink="/table">
    <mat-card-content>
      <h2 class="table">Table</h2>
      <!-- By Clicking on me you can go to the table and collect information about basic table. -->
    </mat-card-content>
  </mat-card>
  <mat-card class="card" routerLink="/expandable-table">
    <mat-card-content>
      <h2 class="table">Expandable-Table</h2>
      <!-- By Clicking on me you can go to the Expandable-table and collect basic information about Expandable-table. -->
    </mat-card-content>
  </mat-card>
  <mat-card class="card" routerLink="/card">
    <mat-card-content>
      <h2 class="table">Card</h2>
      <!-- By Clicking on me you can go to the card and collect information about cards. -->
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <h2 class="table">Fourth card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <h2 class="table">Fifth card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <h2 class="table">Six card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <h2 class="table">Seven card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <h2 class="table">Eight card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <h2 class="table">Nine card</h2>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="menu-card-list">
  <mat-card class="list-link">
    <mat-card-content routerLink="/table">
      <h2 class="link-text">Table</h2>
      By Clicking on me you can go to the table and collect information about basic table.
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content routerLink="/expandable-table">
      <h2 class="link-text">Expandable-Table</h2>
      By Clicking on me you can go to the Expandable-table and collect basic information about Expandable-table.
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content routerLink="/card">
      <h2 class="link-text">Card</h2>
      By Clicking on me you can go to the card and collect information about cards.
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content>
      <h2 class="link-text">Fourth card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content>
      <h2 class="link-text">Fifth card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content>
      <h2 class="link-text">Six card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content>
      <h2 class="link-text">Seven card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content>
      <h2 class="link-text">Eight card</h2>
    </mat-card-content>
  </mat-card>
  <mat-card class="list-link">
    <mat-card-content>
      <h2 class="table">Nine card</h2>
    </mat-card-content>
  </mat-card>
</div> -->